%done-step {
  .step-circle {
    background-color: var(--main-text);

    .done-icon {
      display: inline-block;
    }
    .circle-text {
      display: none;
    }
  }

  .step-label {
    color: #000;
  }
}

%doing-step {
  .step-circle {
    background-color: var(--main-text);

    .done-icon {
      display: none;
    }
    .circle-text {
      display: inline-block;
      color: #fff;
    }
  }

  .step-label {
    color: #000;
  }
}

// for changing step
@for $nowstep from 1 to 4 {
  .step-container[data-step="#{$nowstep}"] {
    .step-bar {
      &[data-number="1"] {
        background-color: var(--main-text);
      }
      &[data-number="2"] {
        @if $nowstep == 1 {
          background-color: var(--progress-undone-color);
        } @else {
          background-color: var(--main-text);
        }
      }
    }

    .stepper {
      &[data-number="1"] {
        @if $nowstep == 1 {
          @extend%doing-step;
        } @else {
          @extend%done-step;
        }
      }

      &[data-number="2"] {
        @if $nowstep == 2 {
          @extend%doing-step;
        } @else if $nowstep == 3 {
          @extend%done-step;
        }
      }
      &[data-number="3"] {
        @if $nowstep == 3 {
          @extend%doing-step;
        }
      }
    }
  }
}

// basic css styles
.progress-title {
  font-size: 24px;
}

.step-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

  .stepper {
    width: 100%;
    display: flex;
    align-items: center;
    .step-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid var(--step-undone-color);
      color: var(--step-undone-color);
      border-radius: 50%;

      .circle-text {
        font-weight: 700;
        font-size: 16px;
      }
      .done-icon {
        display: none;
      }
    }
  }
  .step-bar {
    content: "";
    background-color: var(--progress-undone-color);
    width: 100%;
    height: 2px;
    margin-right: 20px;
  }
}

.step-label {
  display: none;
}

// table screen
@media screen and (min-width: 576px) {
  .stepProgress {
    max-width: 536px;

    .progress-title {
      font-size: 32px;
    }

    .step-circle {
      width: 24px;
      height: 24px;
    }

    .step-label {
      display: block;
      padding-left: 5px;
      color: var(--step-undone-color);
    }

    .step-bar {
      max-width: 60px;
    }
  }
}
