:root {
  --background-color: #ffffff;
  --main-text: #2a2a2a;
  --progress-undone-color: #f0f0f5;
  --step-undone-color: #afb1bd;
  --input-label-color: #808080;
  --btn-color: #f67599;
  --cart-border-color: #f0f0f5;
  --cart-control-btn-color: #f0f0f5;
}

body {
  background-color: var(--background-color);
  font-family: "PT Sans", sans-serif;
  margin: 0 32px;
}
body .main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  body .main {
    width: 80%;
  }
  body .main .main-container {
    display: flex;
    flex-direction: row;
  }
}
.progress-title {
  font-size: 24px;
}

.step-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.step-container .stepper {
  width: 100%;
  display: flex;
  align-items: center;
}
.step-container .stepper .step-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--step-undone-color);
  color: var(--step-undone-color);
  border-radius: 50%;
}
.step-container .stepper .step-circle .circle-text {
  font-weight: 700;
  font-size: 16px;
}
.step-container .stepper .active {
  background-color: var(--main-text);
  color: #fff;
}
.step-container .step-bar {
  content: "";
  background-color: var(--progress-undone-color);
  width: 100%;
  height: 2px;
  margin-right: 20px;
}

.step-label {
  display: none;
}

@media screen and (min-width: 576px) {
  .stepProgress {
    max-width: 536px;
  }
  .stepProgress .progress-title {
    font-size: 32px;
  }
  .stepProgress .step-circle {
    width: 24px;
    height: 24px;
  }
  .stepProgress .step-label {
    display: block;
    padding-left: 5px;
    color: var(--step-undone-color);
  }
  .stepProgress .step-bar {
    max-width: 60px;
  }
}
.form-title {
  font-size: 24px;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
.input-group .input-label {
  font-size: 12px;
  font-weight: 700;
  color: var(--input-label-color);
  padding-bottom: 2px;
}
.input-group input[type=text],
.input-group select {
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.input-gender {
  width: 30%;
}

.input-name {
  width: 60%;
}

.input-card-date {
  width: 50%;
}

.input-card-cvc {
  width: 40%;
}

.form-radio {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid var(--main-text);
  border-radius: 5px;
  margin-bottom: 32px;
}
.form-radio input[type=radio] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  border-radius: 50%;
  margin-left: 1rem;
}
.form-radio input[type=radio]:checked {
  border: 0.4em solid var(--main-text);
}
.form-radio .radio-text {
  padding-left: 10px;
}
.form-radio .radio-text .text-title {
  font-size: 14px;
}
.form-radio .radio-text .text-time {
  font-size: 12px;
  padding: 2px;
}
.form-radio .radio-price {
  font-size: 12px;
  padding-bottom: 25px;
  padding-left: 40%;
}

@media screen and (min-width: 576px) {
  .form-container {
    max-width: 540px;
  }
  .form-container .input-phone {
    width: 60%;
  }
  .form-container .input-email {
    width: 30%;
  }
  .form-container .input-county {
    width: 30%;
  }
  .form-container .input-address {
    width: 60%;
  }
  .form-container .input-card-owner,
  .form-container .input-card-number {
    max-width: 350px;
  }
}
.progressControl {
  text-align: center;
  border-top: 2px solid #e6e6eb;
  margin: 2rem 10px;
}

.next-btn {
  width: 100%;
  height: 46px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 2rem;
  font-size: 14px;
}
.next-btn .next-arrow {
  padding-left: 1rem;
}

@media screen and (min-width: 576px) {
  .progressControl {
    max-width: 540px;
    display: flex;
    justify-content: flex-end;
  }
  .progressControl .next-btn {
    width: 176px;
  }
}
.product-list .product-container {
  display: flex;
  justify-content: space-between;
  height: 102px;
  margin-bottom: 2rem;
}
.product-list .product-container .img-container {
  width: 100px;
  height: inherit;
}
.product-list .product-container .product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-list .product-container .product-info .product-name {
  font-size: 16px;
  color: var(--main-text);
}
.product-list .product-container .product-info .product-control {
  width: 116px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list .product-container .product-info .product-control .product-action {
  width: 20px;
  height: 21px;
  background-color: var(--cart-control-btn-color);
  border-radius: 50%;
  padding: 10px 0 0 10px;
  cursor: pointer;
}
.product-list .product-container .product-info .product-control .product-count {
  font-size: 17px;
  color: #000;
}
.product-list .product-container .product-info .price {
  font-size: 16px;
  font-weight: 700;
}

.cart-container {
  border: 2px solid var(--cart-border-color);
  border-radius: 10px;
  padding: 16px;
  margin-top: 2rem;
}
.cart-container .cart-title {
  display: none;
}
.cart-container .cart-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 2px solid var(--cart-border-color);
}
.cart-container .cart-info .text {
  font-size: 14px;
  color: var(--main-text);
}
.cart-container .cart-info .price {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 576px) {
  .cart-container {
    margin-top: 100px;
    margin-left: 3rem;
    width: 440px;
  }
  .cart-container .cart-title {
    display: block;
    font-size: 18px;
    color: var(--main-text);
  }
  .cart-container .product-container {
    margin-top: 2rem;
  }
  .cart-container .product-container .img-container {
    margin-right: 2rem;
    border-radius: 5px;
  }
  .cart-container .product-container .product-info {
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
  }
  .cart-container .product-container .product-info .price {
    position: absolute;
    top: 0;
    right: 0;
  }
  .cart-container .cart-info {
    margin-bottom: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */