.form-title {
  font-size: 24px;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
}

// Step1 & Step3

.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;

  .input-label {
    font-size: 12px;
    font-weight: 700;
    color: var(--input-label-color);
    padding-bottom: 2px;
  }

  input[type="text"],
  select {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
  }
}

.input-gender {
  width: 30%;
}

.input-name {
  width: 60%;
}

.input-card-date {
  width: 50%;
}

.input-card-cvc {
  width: 40%;
}

// Step2
.form-radio {
  position: relative;
  max-width: 435px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid var(--radio-input-unchecked);
  border-radius: 5px;
  margin-bottom: 32px;
  cursor: pointer;

  input[type="radio"] {
    width: 20px;
    height: 20px;
    appearance: none;
    color: var(--main-text);
    border: 1px solid var(--main-text);
    border-radius: 50%;
    margin-left: 1rem;
    z-index: 999;
  }

  .radio-input-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  input[type="radio"]:checked {
    border: 0.4em solid var(--main-text);
  }

  input[type="radio"]:checked ~ .radio-input-border {
    border: 1px solid var(--radio-input-checked);
    border-radius: 5px;
  }

  .radio-text {
    padding-left: 10px;
    .text-title {
      font-size: 14px;
    }

    .text-time {
      font-size: 12px;
      padding: 2px;
    }
  }

  .radio-price {
    font-size: 12px;
    padding-bottom: 25px;
    padding-left: 40%;
  }
}

@media screen and (min-width: 576px) {
  .form-container {
    width: 540px;

    .input-phone {
      width: 60%;
    }
    .input-email {
      width: 30%;
    }

    .input-county {
      width: 30%;
    }

    .input-address {
      width: 60%;
    }

    .input-card-owner,
    .input-card-number {
      max-width: 350px;
    }
  }
}
